@page
<div class="container">
    <div class="row">
        <input type="button" id="subscribeButton" value="Subscribe" />
    </div>
</div>
<script src="~/lib/signalr.js"></script>
<script src="~/js/log.js"></script>