@page
<div class="container">
    <div class="row">
        <input type="button" id="subscribeButton" value="Subscribe" />
        <input type="button" id="startLogButton" value="Start Logs" />
    </div>
    <div class="row">
        <table id="logTable">
            <tr>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </table>
    </div>
</div>
<script src="~/lib/signalr.js"></script>
<script src="~/js/log.js"></script>